SEPOLIA_RPC_URL=
PRIVATE_KEY=

CHAIN_ID=11155111

# ============================================================
# CORE
# ============================================================

SWAP_FACTORY=0x458Cc1400b372F771bda47A2FDB9B05f1C3Db258
SWAP_ENGINE=0x7b44A04D98aeFeEae5F2AE545B1172e72eCa2EA8

LENDING_POOL=0x705306c2561C9963c555F81Af87Ca90FA97FeeE1
PRICE_ORACLE=0x4044a8d0D6D1884cFB8796f03CA77104ed25CCa8

LOAN_NFT=0x2BB7843cB363A5E45AA46f25d2e4289D52fE27cf
POSITION_REGISTRY=0x7645C74969e83fa5f14BAC9Bf91e57F7b72e2ee3

COLLATERAL_VAULT=0xd4A9f3dE299c2c15B8EFcB7c0BC294d22297E1E6
LOAN_MANAGER=0x8766116905DCa698aB3Bc1Bb780862D37ef1CF0E

MOCK_USDC_ADDRESS=0x147a0eE92DF7A0844823CE08c4314251E7DF2996

# ============================================================
# SETTLEMENT
# ============================================================

SETTLEMENT_ENGINE=0x1E6B55962e5C1d82205057683fe0cE45D6e9B9B1
NETTING_ENGINE=0xEED841080052d1D1B47870e23b62cCeAdF651dD4
ESCROW_MANAGER=0xee5ec86849517488Fb1D03D32254DF46E30Fb29D
DVP_ENGINE=0x16B1dA0f643F8102cA4798DD32C0681aeFb8b6f0

# ============================================================
# LIQUIDATION
# ============================================================

LIQUIDATION_ENGINE=0x7731A86d12cd4eC6a0E7C6ff105C02fb2A4c68F8

# ============================================================
# BOT
# ============================================================

POLL_INTERVAL=30
DRY_RUN=false

COINGECKO_API_URL=https://api.coingecko.com/api/v3/simple/price
COINGECKO_API_KEY=
ORACLE_UPDATE_INTERVAL=60
ORACLE_MIN_CHANGE_BPS=25
ORACLE_MAX_STALENESS=300